/* Generali */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
    text-decoration: none;
    color: black;
}
li {
  list-style: none;
}
/* HEADER */
.containerHeader {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 80%;
  margin: 0 auto;
}
.listHeader {
  display: flex;
  gap: 10px;
}
header li:hover > a {
  color: #0282F9;
}
/* MAIN */
main {
  background-color: black;
}
.jumbotron {
  height: 350px;
  width: 100%;
  object-fit: cover;
  object-position: top;
}
.containerMain {
  max-width: 80%;
  margin: 0 auto;
}
.content {
  color: white;
} 
/* CARD e ROW */
.row {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.card {
  width: 180px;
}
.containerImg {
  height: 180px;
}
.ImgComics {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}
.blueBar {
  background-color: #0282F9;
  height: 150px;
}
.listMain {
  padding-top: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 15px;
}
.listMain > li > a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.iconDC {
  width: 50px;
}
.iconDcLocator {
  width: 34px;
}
.listMain a {
  color: white;
}

/* FOOTER */
footer {
  background-image: url(./img/footer-bg.jpg);
  height: 480px;
  position: relative;
}
.containerFooter {
    max-width: 80%;
  margin: 0 auto;
}
.listFooter a {
  color: rgb(116, 110, 110);
}
.listFooter {
  color: white;
  display: flex;
  gap: 25px;
  font-size: 18px;
  padding-top: 45px;
}
.imgFooter {
  position: absolute;
  top: -60px;
  right: 30px;
}
.listFooter li:hover a {
  color: white;
}
/* FIXEDBAR */
.fixedBar {
  background-color: #303030;
  height: 100px;
  position: sticky;
}
.black {
  background-color: black;
  height: 100vh;
}
.fixedBar {
  padding-top: 25px;
}
.boxSocial {
  display: flex;
  align-items: center;
  gap: 10px;
}
.containerFixedBar {
  max-width: 80%;
  margin: 0 auto;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.buttonFixed {
  border: 2px solid  #0282F9;
  padding: 8px;
}